.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    font-size: 14px;
    justify-content: flex-end;
    position: absolute;
    top: 0%;
    width: 100%;
}

.nav-links{
    padding: 0 20px;
    text-decoration: none;
    color: #000;
}

svg{
    height: 24px;
    width: 24px;
    padding-right: 20px;
}
.right-links{
    padding: 10px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    float: right;
}